/**
 * All the  styles involving 
 * colors are specified here which 
 * includes the color controlling 
 * of every part of the app. This 
 * helps in having the 'Themes' for an app.
 */

$black:black;

/**
$h1-color:
$h2-color
$h3-color
$h4-color
$section-border-color
$section-background-color
$section-font-color
$input-border-color
$input-background-color
$input-font-color
$p-font-color
$address-font-color
$time-font-color
$back-button-color

$textarea-background-color
$textarea-font-color



**/
$body-background-color: #A8CDCF;
$focus-ring-color: #1E6664;
$nav-color: #04889C;
$nav-background-color: #1A2331;
$nav-item-hover-color: #A8CDCF;
$nav-item-active-color: #80F3F0;
$button-color: #04889C;
$button-background-color: #1A2331;
$form-background-color: #80F3F0;
$input-background-color: #D6F1F3;
$error-color: #D5685B;//#E85847;//#DA4533;

$event-font-color: #07605E;
$event-detail-color: #1AACA9;
$box-shadow-color: #888888;

$drag-event-bckgcolor:#DDEDED; 
$drag-action-container-bckgcolor:#C4FFFF;