/**
 * All the  styles involving 
 * colors are specified here which 
 * includes the color controlling 
 * of every part of the app. This 
 * helps in having the 'Themes' for an app.
 */

$black:black;

/**
$h1-color:
$h2-color
$h3-color
$h4-color
$section-border-color
$section-background-color
$section-font-color
$input-border-color
$input-background-color
$input-font-color
$p-font-color
$address-font-color
$time-font-color
$back-button-color

$textarea-border-color
$textarea-background-color
$textarea-font-color



**/
$body-background-color: #A8CDCF;

$nav-color: #04889C;
$nav-background-color: #1A2331;
$nav-item-hover-color: #A8CDCF;
$nav-item-active-color: #80F3F0;

$button-color: #04889C;
$button-background-color: #1A2331;
$form-background-color: #80F3F0;
$input-background-color: #D6F1F3;
$error-color: #DA4533;