@import "../_variables.scss";
@import "../_typography.scss";
@import "../_mixins.scss";

.event-interact-section {
	@include flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;//whether items wrap to the next row
	justify-content: space-around; //x-axis
}
.container {
	font-family: $app-font-family;
	padding: 1rem;
	border: 0.1rem solid gray;
	background-color: $form-background-color;
	@include border-radius(2rem);
	.form-section {
		padding: 0.8rem;
	}
}

form{
	margin: 2rem;
	margin-bottom: 0;
	padding: 2rem;
	padding-bottom: 0;
}

.confirmation-message {
	border: 1px solid black;
	margin: 5rem;
	padding: 5rem;
	color: $nav-color;
	background-color:$nav-background-color;
}
.shadow {
	opacity: 0.5;
}

.body {
	opacity: 0.75;
	-ms-transform: translate(5rem,-12.5rem); /* IE 9 */
	-webkit-transform: translate(5rem,-12.5rem); /* Safari */
	transform: translate(5rem,-12.5rem); /* Standard syntax */
}

.detail-section {
	@include flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;//whether items wrap to the next row
	justify-content: space-around; //x-axis
	div {
		align-content:space-around;//fact that we have multiple rows
  		padding: 0.8rem;
	}
	.error-message {
		padding:0;
		padding-bottom: 0.5rem;
	}
	.first {
		-webkit-flex: initial;
        flex: initial;
		min-width: 40%;
	}
	.middle {
		-webkit-flex: 1;
        flex: 1;
	}
	.last {
		-webkit-flex: 2;
        flex: 2;
		max-width:45%;
	}
	textarea {
		columns:140;
		border:none;
	}
}

textarea, input{
	font-family: $app-font-family;
	border:none;
	overflow: hidden;
    outline:none;
	@include border-radius(0.8rem);
	padding:0.4rem;
	background-color: $input-background-color;
}
input {
	height:1.2rem;
	@include border-radius(0.4rem);
}
.input-date {
	margin-bottom:0.2rem;
}

.error-message {
	font-size: $error-font-size;
	color: $error-color;
}

.event-submit-button, .event-reset-button {
	font-family: $app-font-family;
	margin:1.5rem ;
	padding:0.5rem 1.25rem 0.5rem 1.25rem;
	color: $button-color;
	background-color: $button-background-color;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	cursor: pointer;
	box-shadow: 0.25rem 0.75rem 0.5rem #888888;
	&:active {
		transform: translate(0.25rem, 0.75rem);
    	box-shadow: none;
	}
}

.disabled {
	background-color: $input-background-color;
}

.event-reset-button {
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
